.exercise-diary-background {
    background-image: url('../../images/exercise_diary_image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1600px;
    width: 100%;
}

.exercise-diary-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.exercise-diary-background .calendar {
    position: absolute;
    opacity: .9;
    margin-top: -300px;
}

.exercise-entry:hover {
    background-color: rgb(203, 202, 211);
}

.exercise-entry {
    color: rgb(0, 0, 0);
    width: auto
}

.exercise-entry-amount {
    /* background-color: rgb(121, 238, 187); */
    width: 50px;
    color: black;
    border-color: rgb(5, 5, 5);
    border-style: solid;
    border: 50px;
    /* opacity: 0; */
}

.exercise-entry-amount:hover {
    /* background-color: rgb(203, 202, 211); */
    width: 50px;
    /* border-color: rgb(203, 202, 211); */
}

.exercise-diary-list {
    /* background-color: rgb(121, 238, 187); */
    background-color: rgb(255, 255, 255);
    width: 702px;
    height: 400px;
    border-color: rgb(5, 5, 5);
    border-style: solid;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.exercise-diary-list::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    color: black;
}

.exercise-diary-background .clear-diary {
    margin-top: 10px;
    padding: 0px 8px;
    border-radius: 3px;
    /* border: none; */
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-diary-background .clear-diary:hover {
    background-color: #0066cc;
}

.exercise-diary-background .add-exercise button {
    margin-top: 0px;
    padding: 0px 8px;
    border-radius: 3px;
    /* border: none; */
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-diary-background .add-exercise button:hover {
    background-color: #0066cc;
}

.exercise-diary-background .exercise-diary-list button {
    margin-top: 0px;
    padding: 0px 8px;
    border-radius: 3px;
    border: none;
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-diary-background .exercise-diary-list button:hover {
    background-color: #0066cc;
}

.exercise-diary-background .calendar-button {
    margin-top: 0px;
    padding: 0px 8px;
    border-radius: 3px;
    /* border: none; */
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-diary-background .calendar-button:hover {
    background-color: #0066cc;
}

.exercise-entry-button {
    margin-top: 0px;
    padding: 0px 8px;
    border-radius: 3px;
    /* border: none; */
    background-color: #0077ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.exercise-entry-button:hover {
    background-color: #0066cc;
}
