.hero-section {
  display: flex;
  background-image: url('background.png');
  background-size: cover;
  height: auto;
  width: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-attachment: fixed;
  z-index: -999;
}

.try-button {
  transform: rotate(45deg);
  position: relative;
  width: 200px;
  height: 50px;
  top: 50px;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform: translateX(-100%);
  background-color: rgb(53, 118, 4);
  border-radius: 5px;
  z-index: 999;
  opacity: .8;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.start-tracking-image {
  position: fixed;
  left: 0px;
  bottom: -100px;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s;
  z-index: 0;
  animation-name: pop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.background {
  background-image: url('./Black and White Sports Fitness Animated Presentation.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 80vh;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px black;
}


/* @media (min-width: 1920px) and (max-width: 1921px) {
  .home-page-container {
    margin-left: 450px;
  }
} */
